* {
    box-sizing: border-box;
  }

body {
    font-family: 'Gill Sans', sans-serif;
}

div {
    background-image: url("imgs/kids-party1.jpg");
    background-size: contain;
    color: rgb(238, 119, 212); 
    height: 800px;
    width: 800px;
    padding: 170px;
}

h3 {
    font-size: 36px;;
}

p {
    font-size: 22px;
}
