<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/invite-demo1.css">
    </head>
    
    <body>
        <div>
            <h3>Dear Jack,</h3>
            
            <p>
            We're very excited to invite you to <strong>Bibi's birthday party</strong>!
            </p>
            
            <p>
            <strong>Date: </strong>Thursday 20th of January<br>
            <strong>Time: </strong>6pm<br>
            </p>

            <p>
            See you there!<br>
            <em>Renee</em>
            </p>

        </div>
        
    </body>

</html>